<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Gitpod Tutorial</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/litera/bootstrap.min.css">
</head>

<body>

	<div class="container p-5">
		<div class="row">
			<div class="col-md-4 offset-md-4">
				<form action="/create" method="POST" class="card card-body">
					<div class="form-group">
						<input type="text" name="task" placeholder="Write A new Task" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
						<input type="text" name="description" placeholder="Write A Description" class="form-control">
                    </div>
                    <button class="btn btn-primary">
                        Save
                    </button>
				</form>

                <% tasks.forEach(function (task) { %>
                    <div class="card card-body mt-2">
                        <h5><%= task.task %></h5>
                        <p><%= task.description %></p>
                    </div>
                <% }) %>
			</div>
		</div>
	</div>

</body>

</html>